.no-user-select {
    user-select: none;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
}

.interactor {
    position: absolute;
    width: 100%;
    height: 100%;
}

.grid {
    .no-user-select;
    position: relative;
}

.cell {
    .no-user-select;
    display: block;
    position: absolute;

    border: 8px solid white;
    border-radius: 12px;

    margin-left: 1px;
    margin-top: 1px;

    &.assigned {
        border-width: 1px !important;
        border-radius: 0px;
        border-color: green;
        margin-left: 0px;
        margin-top: 0px;
    }


    &.animatable {
        border-width: 10px;
        transition: background-color 300ms, border-width 150ms, border-radius 350ms, border-color 100ms;
    }
}


