.no-user-select {
    user-select: none;
}

.cell {
    .no-user-select;
    display: block;
    position: absolute;
}

.grid {
    .no-user-select;
    position: fixed;
    width: 100%;
    height: 100%;
}
